<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/DetailProduct.css">
    <title>DetalleProducto</title>
</head>
<body>
    <header>Header</header>
    <main>
        <section>
            <div>Home/Hoodie/<%= producto.name %></div>
            <div>
                <div>
                    <img src="/images/Products/<%= imagenes %>" alt="">
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>