<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <script
      src="https://kit.fontawesome.com/319bcfef20.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <footer class="footer">
      <div class="container">
        <div class="footer-row">
          <div class="footer-links">
            <h4>Menú</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Productos</a></li>
              <li><a href="#">Accesorios</a></li>
              <li><a href="#">New In</a></li>
              <li><a href="#">Sale</a></li>
              <li><a href="#">Contacto</a></li>
              <li><a href="#">Ayuda</a></li>
            </ul>
          </div>
          <div class="footer-links">
            <h4>Contactos</h4>
            <ul>
              <li><a href="#">+543513578693</a></li>
              <li><a href="#">SleecClothingStore@gmail.com</a></li>
            </ul>
          </div>
          <div class="footer-links">
            <h4>Encontranos En</h4>
            <div class="social-link">
              <a href="#"><li><i class="fa-brands fa-instagram"></i></li></a>
              <a href="#"><li><i class="fa-brands fa-facebook"></i></li></a>
              <a href="#"><li><i class="fa-brands fa-whatsapp"></i></li></a>
              <a href="#"><li><i class="fa-brands fa-x-twitter"></i></li></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
